# 数据库配置
DATABASE_URL=postgresql://user:password@localhost:5432/db
# JWT 配置
JWT_SECRET=some_random_secret_key_for_jwt
# 邮箱配置
EMAIL_HOST=smtp.qq.com
EMAIL_PORT=465
EMAIL_USER=xxx@example.com
EMAIL_PASS=example_password
# 腾讯云 COS 配置
TENCENT_COS_SECRET_ID=some_secret_id
TENCENT_COS_SECRET_KEY=some_secret_key
TENCENT_COS_BUCKET=some_bucket
TENCENT_COS_REGION=ap-xxx